<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.pexels.com/photos/3775151/pexels-photo-3775151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="d-block w-100"
        style="height: 520px; opacity: 0.8"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-light">Escape into sound, amplify your world.</h2>
        <p class="text-light">
          Elevate your auditory journey with our premium headphones precision
          engineering for unparalleled sound clarity.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.pexels.com/photos/941572/pexels-photo-941572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="d-block w-100"
        style="height: 520px; opacity: 0.9"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://images.pexels.com/photos/5637595/pexels-photo-5637595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        class="d-block w-100"
        style="height: 520px; opacity: 0.8"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
